[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://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@github.com/k2flow/hugo-coder.git
